/*
Theme Name: Ghulduba
Description: Theme For Ghulduba
Author: JMA Web Design
Author URI: http://jmawebdesign.com
Template: lineago
Version: 1.0.0
Text Domain:  ghulduba
*/
/* Add your custom CSS after this comment */

/* -----------------------------------------------------------------------------

    RESPONSIVE DEFINITIONS

----------------------------------------------------------------------------- */

    /* -------------------------------------------------------------------------
        LARGE DEVICES
		devices with width between 992px and 1199px
    ------------------------------------------------------------------------- */
    @media ( min-width: 768px ) {

		/* your CSS here */
.footer-widgets--3-cols.footer-widgets--wider-first-col .footer-widgets__grid {
  grid-template-columns: 50% 1fr 1fr;
}
	}
    @media ( max-width: 1199px ) {

		/* your CSS here */

	}

    /* -------------------------------------------------------------------------
        MEDIUM DEVICES
		devices with width between 768px and 991px
    ------------------------------------------------------------------------- */

    @media ( max-width: 991px ) {

		/* your CSS here */

	}

	/* -------------------------------------------------------------------------
        SMALL DEVICES
		devices with width between 481px and 767px
    ------------------------------------------------------------------------- */

    @media ( max-width: 767px ) {

		/* your CSS here */

	}

	/* -------------------------------------------------------------------------
        EXTRA SMALL DEVICES
		devices with width up to 480px
    ------------------------------------------------------------------------- */

	@media ( max-width: 480px ) {

		/* your CSS here */

	}